---
name: Unit Test

'on':
  pull_request:
  push:
    branches:
      - main

jobs:
  chefstyle:
    env:
      BUNDLE_WITHOUT: integration
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ['3.3']
    name: Chefstyle on Ruby
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - uses: r7kamura/rubocop-problem-matchers-action@v1
      - run: bundle exec chefstyle

  test:
    name: Unit Test
    runs-on: ubuntu-latest
    needs: chefstyle
    strategy:
      matrix:
        ruby: ['3.1', '3.2', '3.3']
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rake test
